@tailwind base;
@tailwind components;
@tailwind utilities;

html{
overflow-x: hidden;
}

#dark-team{
  background: -webkit-linear-gradient(315deg, rgb(92, 99, 98) 17%, rgb(51, 44, 56) 71%, rgb(22, 22, 22));
  background: -moz-linear-gradient(315deg, rgb(92, 99, 98) 17%, rgb(51, 44, 56) 71%, rgb(22, 22, 22));
  background: linear-gradient(315deg, rgb(92, 99, 98) 17%, rgb(51, 44, 56) 71%, rgb(22, 22, 22));
}

#light-team{
background: -webkit-linear-gradient(315deg, rgb(231, 224, 236) 17%, rgb(172, 159, 182) 71%, rgb(159, 136, 176));
background: -moz-linear-gradient(315deg, rgb(231, 224, 236) 17%, rgb(172, 159, 182) 71%, rgb(159, 136, 176));
background: linear-gradient(315deg, rgb(231, 224, 236) 17%, rgb(172, 159, 182) 71%, rgb(159, 136, 176));
}

#button-gradient:hover{
background: -webkit-linear-gradient(45deg, rgb(231, 224, 236) 10%, rgb(128, 90, 213) 77%);
background: -moz-linear-gradient(45deg, rgb(231, 224, 236) 10%, rgb(128, 90, 213) 77%);
background: linear-gradient(45deg, rgb(231, 224, 236) 10%, rgb(128, 90, 213) 77%);
}

.items-gradient{
  background: -webkit-linear-gradient(315deg, rgb(140, 95, 174), rgb(38, 11, 45) 100%);
  background: -moz-linear-gradient(315deg, rgb(140, 95, 174), rgb(38, 11, 45) 100%);
  background: linear-gradient(315deg, rgb(140, 95, 174), rgb(38, 11, 45) 100%);
}

.gradient-night-team{
background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(66, 78, 101));
background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(66, 78, 101));
background: linear-gradient(45deg, rgb(152, 207, 195), rgb(66, 78, 101));
}
.info-gradient{
  background: -webkit-linear-gradient(315deg, rgb(144, 139, 148), rgb(110, 98, 118), rgb(51, 44, 56));
background: -moz-linear-gradient(315deg, rgb(144, 139, 148), rgb(110, 98, 118), rgb(51, 44, 56));
background: linear-gradient(315deg, rgb(144, 139, 148), rgb(110, 98, 118), rgb(51, 44, 56));
}


.spin-wrapper{
  width: 100%;
  height: 100%;
  background: #080705;

  .spinner{
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #A04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    
    &:before, &:after{
      content:'';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }
    
    &:before{
      border-top-color: #254E70;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 3s linear infinite;
    }
    
    &:after{
      border-top-color: #FFFBFE;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;  
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}



h1,h2, #text-shadow{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}
#text-shadow-p{
  text-shadow: 3px 6px 14px #DFDFDF;
}

body::-webkit-scrollbar {

}

.icon {
  overflow: hidden;
  cursor: pointer;
}


.product-back, .product-front{
overflow: hidden;
backface-visibility: hidden;
position: absolute;
transition: transform .6s;

}

.product-front{
  transform: perspective(600px) rotateY(0deg);

}
.product-back{  
  overflow-y: scroll;
  transform: perspective(600px) rotateY(180deg);

}

.icon:after {
  /* z-index: 10; */
  content: "";
  height: 200%;
  left: -230%;
  opacity: 0;
  position: absolute;
  top: -20%;
  transform: rotate(-30deg);
  width: 200%;
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}
/* Hover state - trigger effect */

.icon:hover:after {
  left: -50%;
  opacity: 1;
  top: -50%;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-property: left, top, opacity;
  transition-timing-function: ease;
}
/* Active state */

.icon:active:after {
  opacity: 0;
}



.btnLikeActive{
  top:15%;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.5s;

}

.btnLikeNotActive{
  top:15%;
  left: -110%;
  transition: left 0.5s;

}


.btnInfoActive{
  top:50%;
  right: 50%;
  transform: translateX(50%);
  transition: right 0.5s;

}

.btnInfoNotActive{
  top:45%;
  right: -110%;
  transition: right 0.5s;

}

.activeBlackIcon{
  display: flex;
  background-color: black;
  opacity: 0.5;
}
.NotActiveBlackIcon{
  opacity: 1;
}


.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

#scroll-element::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(229, 222, 230);
  border-radius: 10%;
  height: 5%;
}
#scroll-element::-webkit-scrollbar-thumb {
  background-color: #e5dee6;
  border-radius: 20px;
  border: 3px solid rgb(155, 155, 153);
}

#box-shadow{
  -webkit-box-shadow: 10px 4px 8px 0px rgba(246, 248, 249, 0.2);
  -moz-box-shadow: 10px 4px 8px 0px rgba(246, 248, 249, 0.2);
  box-shadow: 10px 4px 8px 0px rgba(246, 248, 249, 0.2);
}